.App-header{
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    /* border-radius: 0 0 30px 30px; */
    box-shadow: 5px 10px 15px #888888;
    clear: both;
  
}
.App-logo{
  margin: 20px;
  width: 146px;
  height: 50px;
  display: flex;
  justify-content: center;
  
}
.wrap{
  float: left;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.pageName{
  font-size: 45px;
  font-weight: 100;
  margin-top: 15px;
  min-width: 150px;
  text-align: center;
}
.linkTo{
  
  margin: 20px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(153, 224, 230);
}
.table{
  float: left;
  clear: both;
  position: relative;
  width: 70%;
  left:15%;
  margin-top: 100px;
  text-align: center;
  font-size: 22px;
}
.tdata{
  border: none;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.piewrap{
  display: flex;
  float: left;
  position: relative;
  justify-content: center;
  width: 100%;
}
.piechart{
  width:400px;
  height: 400px;
  float: left;
  position: relative;
  margin-top: 100px;

  align-items: center;

}
.label1{
  margin: 20px;
  padding:10px;
  border-radius: 20px;
  background-color: #E38627;
}
.label2{
  margin: 20px;
  padding:10px;
  border-radius: 20px;
  background-color: #C13C37;
}
@media only screen and (max-width: 876px){
  .table{
    left: 0%;
    width: 100%;
  }
  .linkTo{
    clear: both;
    float: left;
    
  }
  .App-header{
    box-shadow: none;
  }
  
}
@media only screen and (max-width: 502px){
  .App-header{
    flex-direction: column;
  }
  .tdata{
    padding: 0;
  }
 
 
}
@media only screen and (max-width: 400px){
  .piechart{
    width: 200px;
    height: 200px;
  }
}